<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.sensation" version="1.15.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Sensation</name>

    <description>
    Sensation is a PhoneGap/Cordova Full Hybrid App with AngularJS + Onsen UI.
    </description>
    
    <plugin name="com.phonegap.plugins.barcodescanner" version="2.0.1" />
	<plugin name="com.pushwoosh.plugins.pushwoosh" version="3.5.3"/>
	<plugin name="de.appplant.cordova.plugin.email-composer" version="0.8.2"/>
	<plugin name="nl.x-services.plugins.socialsharing" version="4.3.18"/>
	<plugin name="org.apache.cordova.device" version="0.3.0"/>
	<plugin name="org.apache.cordova.dialogs" version="0.3.0"/>
	<plugin name="org.apache.cordova.geolocation" version="0.3.12"/>
	<plugin name="org.apache.cordova.inappbrowser" version="0.6.0"/>

    
    <content src="index.html" />
    <access origin="*" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    
    <preference name="BackupWebStorage" value="none" />

    <feature name="StatusBar">
        <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
    
</widget>
