<?xml version='1.0' encoding='utf-8'?>
<widget id="ir.radioogle" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>radioogle</name>

    <description>
    </description>
	
	<plugin name="com.phonegap.plugins.barcodescanner" source="pgb" spec="2.2.0" />
    <plugin name="com.pushwoosh.plugins.pushwoosh" source="pgb" spec="3.4.2" />
    <plugin name="cordova-plugin-admobpro" spec="2.15.0" />
    <plugin name="cordova-plugin-whitelist" spec="1.2.1" />
    <plugin name="cordova-plugin-x-toast" spec="2.5.0" />
    <plugin name="de.appplant.cordova.plugin.email-composer" source="pgb" spec="0.8.2" />
    <plugin name="nl.x-services.plugins.socialsharing" source="pgb" spec="4.3.8" />
    <plugin name="org.apache.cordova.device" source="pgb" spec="0.3.0" />
    <plugin name="org.apache.cordova.dialogs" source="pgb" spec="0.3.0" />
    <plugin name="org.apache.cordova.geolocation" source="pgb" spec="0.3.12" />
    <plugin name="org.apache.cordova.inappbrowser" source="pgb" spec="0.6.0" />
    <plugin name="org.apache.cordova.splashscreen" source="pgb" spec="1.0.0" />


    <!-- <plugin name="com.sarriaroman.PhotoViewer" /> -->
    <!--<plugin name="org.apache.cordova.dialogs.Notification" />-->

    
    <content src="index.html" />
    <access origin="*" />
    
    <gap:platform name="android">
        <allow-intent href="market:*" />
        <access origin="*" />
    </gap:platform>
    
	<gap:platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <access origin="*" />
    </gap:platform>
    
    <preference name="android-build-tool" value="gradle" /> 
    <preference name="SplashScreenDelay" value="3000"/>
    
	<platform name="android">
        <splash src="res/screen/android/drawable-ldpi/splash.png" density="land-ldpi" />
        <splash src="res/screen/android/drawable-hdpi/splash.png" density="land-hdpi" />
        <splash src="res/screen/android/drawable-xhdpi/splash.png" density="land-xhdpi" />
        <splash src="res/screen/android/drawable-mdpi/splash.png" density="land-mdpi" />
        <splash src="res/screen/android/drawable-xhdpi/splash.png" />
    </platform>

	<!--
    <gap:splash src="res/screen/android/screen-ldpi-portrait.png" gap:platform="android" gap:qualifier="port-ldpi" />
	<gap:splash src="res/screen/android/screen-mdpi-portrait.png" gap:platform="android" gap:qualifier="port-mdpi" />
	<gap:splash src="res/screen/android/screen-hdpi-portrait.png" gap:platform="android" gap:qualifier="port-hdpi" />
	<gap:splash src="res/screen/android/screen-xhdpi-portrait.png" gap:platform="android" gap:qualifier="port-xhdpi" />
    -->
    
    
    <platform name="ios">
        <splash src="res/screen/ios/Default.png" width="320" height="480"/>
        <splash src="res/screen/ios/Default@2x.png" width="640" height="960"/>
        <splash src="res/screen/ios/Default-Portrait.png" width="768" height="1004"/>>
        <splash src="res/screen/ios/Default-Landscape.png" width="1024" height="768"/>
        <splash src="res/screen/ios/Default-Landscape@2x.png" width="2048" height="1536"/>
        <splash src="res/screen/ios/Default-Landscape.png" width="1024" height="748"/>
        <splash src="res/screen/ios/Default-568h@2x.png" width="640" height="1136"/>
        <splash src="res/screen/ios/Default.png"/>
    </platform>
    
    <icon src="icon.png"/>  
    
    <!-- iPhone 6 / 6+ -->
    <icon src="res/icon/ios/Icon-152.png" platform="ios" width="180" height="180" />

    <!-- iPhone / iPod Touch  -->
    <icon src="res/icon/ios/Tab-bar-icon.png" platform="ios" width="60" height="60" />
    <icon src="res/icon/ios/Icon-120.png" platform="ios" width="120" height="120" />

    <!-- iPad -->
    <icon src="res/icon/ios/Icon-76.png" platform="ios" width="76" height="76" />
    <icon src="res/icon/ios/Icon-152.png" platform="ios" width="152" height="152" />

    <!-- Settings Icon -->
    <icon src="res/icon/ios/Icon-Small.png" platform="ios" width="29" height="29" />
    <icon src="res/icon/ios/Icon-Small@2x.png" platform="ios" width="58" height="58" />

    <!-- Spotlight Icon -->
    <icon src="res/icon/ios/toolbar-icon.png" platform="ios" width="40" height="40" />
    <icon src="res/icon/ios/Icon-76.png" platform="ios" width="80" height="80" />
    
    <!-- iPhone / iPod Touch -->
    <icon src="res/icon/ios/57.png" platform="ios" width="57" height="57" />
    <icon src="res/icon/ios/Icon@2x.png" platform="ios" width="114" height="114" />

    <!-- iPad -->
    <icon src="res/icon/ios/Icon-72.png" platform="ios" width="72" height="72" />
    <icon src="res/icon/ios/Icon-152.png" platform="ios" width="144" height="144" />

    <!-- iPhone Spotlight and Settings Icon -->
    <icon src="res/icon/ios/Icon-Small.png" platform="ios" width="29" height="29" />
    <icon src="res/icon/ios/Icon-Small@2x.png" platform="ios" width="58" height="58" />

    <!-- iPad Spotlight and Settings Icon -->
    <icon src="ires/icon/ios/Icon-Small-50.png" platform="ios" width="50" height="50" />
    <icon src="res/icon/ios/Icon-Small-100.png" platform="ios" width="100" height="100" />
    
    
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" /> 
    <preference name="BackupWebStorage" value="none" />

    <feature name="StatusBar">
        <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
    
    <feature name="Vibration">
        <param name="android-package" value="org.apache.cordova.vibration.Vibration" />
    </feature>
    
    <feature name="Notification">
        <param name="android-package" value="org.apache.cordova.Notification" />
    </feature>
    
</widget>
