<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.sensation" version="1.15.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>صنایع سنگ مهرگان</name>

    <description>
    مهرگان نماد زیبایی
    </description>
	
	<gap:plugin name="com.phonegap.plugins.barcodescanner" />
	<gap:plugin name="com.pushwoosh.plugins.pushwoosh" />
	<gap:plugin name="de.appplant.cordova.plugin.email-composer"/>
	<gap:plugin name="nl.x-services.plugins.socialsharing" />
	<gap:plugin name="org.apache.cordova.device"  />
	<gap:plugin name="org.apache.cordova.dialogs"  />
	<gap:plugin name="org.apache.cordova.geolocation" />
	<gap:plugin name="org.apache.cordova.inappbrowser"/>

    
    <content src="index.html" />
    <access origin="*" />
    
    <gap:platform name="android">
        <allow-intent href="market:*" />
        <access origin="*" />
    </gap:platform>
    <gap:platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <access origin="*" />
    </gap:platform>
    
    
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" /> 
    <preference name="BackupWebStorage" value="none" />

    <feature name="StatusBar">
        <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
    
</widget>
