<ons-page ng-controller="ContactController">
    
    <ons-toolbar fixed-style>
    <div class="right"><ons-back-button>بازگشت</ons-back-button></div>
    <div class="center">Contact us</div>
    </ons-toolbar>

    <section style="padding: 10px;">

        <input type="text" class="text-input" placeholder="Subject" ng-model="subject" style="width:100%; margin-bottom:10px;">

        <textarea class="textarea" rows="10" placeholder="Message" ng-model="message" style="width:100%; margin-bottom:10px;"></textarea>

        <ons-button modifier="large" ng-click="submitForm()">
        SEND
        </ons-button>
    </section>  

</ons-page>