<ons-page ng-controller="FeedsController">
    
    <ons-toolbar fixed-style>
    <div class="right"><ons-back-button>بازگشت</ons-back-button></div>
    <div class="center">RSS</div>
    </ons-toolbar>

 

    <section style="padding: 0 10px 10px 10px;direction:rtl;">


        <ons-row align="center" class="status-message" fixed-style>
            <ons-col>
            <span class="loading"><i class="fa fa-spin fa-circle-o-notch"></i>در حال بارگزاری</span>
            <span ng-bind="msg"></span>
            </ons-col>
        </ons-row>
        
         <div ng-repeat="new in getBookmarks()">
        <ons-row style="padding: 0 0 10px 0;">
            <ons-col>
                <section style="padding: 0 10px 0 10px;">
                     <h3 class="title" style="direction:ltr;">{{new.title}}</h3>
                     <img ng-src="{{getImage($index)}}"alt="{{new.title}}"/>
				
                    <ons-button modifier="outline" class="button-share" ng-click="sharePost($index)">
        <ons-icon icon="share-alt"></ons-icon> اشتراک گذاری
                        
        </ons-button>
                    
                     <ons-button modifier="outline" class="button-share" ng-click="removeBookmark(new.title)">
        <ons-icon icon="heart"></ons-icon>حذف علاقه مندی
                        
        </ons-button>
                <!--<p ng-model="letterLimit">{{new.body | limitTo:letterLimit  }}</p>-->
				<hr>
                </section>
            </ons-col>
            <!--
			<ons-col>
                <section>
                <h3 class="title" ng-click="showSearchDetail($index)">{{new.title}}</h3>
                <p ng-model="letterLimit">{{new.body | limitTo:letterLimit  }}...</p>
                <p class="tags"><ons-icon icon="tags" fixed-width="true"></ons-icon>
                <span ng-repeat="tag in new.tags">{{tag}}{{$last ? '' : ', '}}</span>
                </p>
                </section>
            </ons-col>
			-->
        </ons-row>
        </div>

       

    </section>
    
</ons-page>