<ons-page ng-controller="BookmarkController">
    
    <ons-toolbar fixed-style>
    <div class="right"><ons-back-button>بازگشت</ons-back-button></div>
    <div class="center">اخبار</div>
    </ons-toolbar>
    
    <ons-pull-hook ng-action="load($done)" var="loader" disabled>
        <span ng-switch="loader.getCurrentState()">
        <span ng-switch-when="initial"><ons-icon size="35px" icon="ion-arrow-down-a"></ons-icon>جهت بروز رسانی به سمت پایین بکشید</span>
        <span ng-switch-when="preaction"><ons-icon size="35px" icon="ion-arrow-up-a"></ons-icon>جهت بروز رسانی رها کنید</span>
        <span ng-switch-when="action"><ons-icon size="35px" spin="true" icon="ion-load-d"></ons-icon>در حال بارگزاری..</span>
        </span>
    </ons-pull-hook>
    
    <section style="padding: 10px; direction:rtl">
        
        
        <div ng-repeat="new in feeds">
        <ons-row style="padding: 0 0 10px 0;">
            <ons-col>
                <section style="padding: 0 10px 0 10px;">
                <img ng-src="{{getImage($index)}}"alt="{{new.title}}" ng-click="showSearchDetail($index)"/>
				 <h3 class="title" ng-click="showSearchDetail($index)">{{new.title}}</h3>
				  <ons-button modifier="outline" class="button-share" ng-click="bookmarkPost()">
					<ons-icon icon="share-alt"></ons-icon> علاقه مندی
					</ons-button>
                <!--<p ng-model="letterLimit">{{new.body | limitTo:letterLimit  }}</p>-->
				<hr>
                </section>
            </ons-col>
            <!--
			<ons-col>
                <section>
                <h3 class="title" ng-click="showSearchDetail($index)">{{new.title}}</h3>
                <p ng-model="letterLimit">{{new.body | limitTo:letterLimit  }}...</p>
                <p class="tags"><ons-icon icon="tags" fixed-width="true"></ons-icon>
                <span ng-repeat="tag in new.tags">{{tag}}{{$last ? '' : ', '}}</span>
                </p>
                </section>
            </ons-col>
			-->
        </ons-row>
        </div>
    </section>
    
</ons-page>