<ons-page ng-controller="FeedsController">
    
    <ons-toolbar fixed-style>
    <div class="right"><ons-back-button>بازگشت</ons-back-button></div>
    <div class="center">علاقه مندی های من</div>
    </ons-toolbar>
    
    
    <section style="padding: 0 10px 10px 10px;direction:rtl;">
        
        
        <div ng-repeat="new in getBookmarks()">
        <ons-row style="padding: 0 0 10px 0;">
            <ons-col>
                <section style="padding: 0 10px 0 10px;">
                     <h3 class="title" style="text-align:center; color:#8962ed;">{{new.title}}</h3>
                     <img ng-src="{{getImageFav($index)}}"alt="{{new.title}}"/>
                    <br/><br/>
                    <div style="margin:auto; display:block; text-align:center;">
                        <ons-button modifier="outline" class="button-share" ng-click="sharePost($index)">
                        <ons-icon icon="share-alt"></ons-icon> اشتراک گذاری
                        </ons-button>
                        
                        <ons-button modifier="outline" class="button-share" ng-click="removeBookmark(new.title)">
                        <ons-icon icon="heart"></ons-icon>حذف علاقه مندی
                        </ons-button>
                    </div>
				<hr style="border-top: 1px solid #8962ed;">
                </section>
            </ons-col>
        </ons-row>
        </div>   

    </section>
    
</ons-page>