<ons-page>
    <ons-toolbar fixed-style>
    <div class="right"><ons-back-button>بازگشت</ons-back-button></div>
    <div class="center">Feed</div>
    </ons-toolbar>


    <div class="profile-card">

        <ons-icon icon="rss" class="profile-logo"></ons-icon>
        <div class="profile-name">شرکت ویستا پرداز نواندیش</div>
        <div class="profile-id">newthink.ir</div>
        <div class="profile-desc">طراحی وب سایت و اپلیکیشن موبایل</div>

    </div>

    <ons-list-header>دسته بندی ها</ons-list-header>

    <div style="direction:rtl;">
    <ons-list ng-controller="FeedPluginCategoriesController">
        <ons-list-item modifier="chevron" class="item" ng-repeat="category in categories" ng-click="showDetail($index)">
            <ons-row>

                <ons-col width="60px"> 
                <div class="item-thum"><ons-icon icon="{{category.icon}}"></ons-icon></div>
                </ons-col>

                <ons-col>
                <header>
                <span class="item-title">{{category.title}}</span>
                </header>
                <p class="item-desc">{{category.description}}</p>
                </ons-col>

            </ons-row>                          
        </ons-list-item>
    </ons-list>
    </div>

</ons-page>