<ons-navigator title="Sensation" var="appNavigator">
    
    <ons-page ng-controller="FeedsController">
        
        <ons-toolbar fixed-style>
            <div class="right">
            <ons-toolbar-button onclick="menu.toggleMenu()">
            <ons-icon icon="bars">
            </ons-toolbar-button>
            </div>
            
            <div class="center">Radioogle</div>
            
            <!--
            <div class="left">
            <ons-toolbar-button onclick="appNavigator.pushPage('settings.html',{title: 'Settings', animation: 'slide'})">
            <ons-icon icon="gears">
            </ons-toolbar-button>
            </div>
            -->
        </ons-toolbar>
        
 <section style="padding: 10px;">
        
        
        <ons-row style="padding: 10px;">
        <img ng-src="img/logo-large.png" alt="Radioogle" style="margin: auto;"/>
        </ons-row>
     
        <ons-row style="padding: 10px;">
        <input type="text" placeholder="" class="search-input" ng-model="search">
        </ons-row>
     
        <div style="margin:auto; display:block; text-align:center;">
            <ons-button modifier="outline" class="button-share" ng-click="getData1()">
            <ons-icon icon="search"></ons-icon> Search             
            </ons-button>
        </div>
     
        <span ng-bind="msg" style="margin:auto;display:block;text-align:center;"></span>
       
        
        <div ng-repeat="new in getFeeds(search)">
        <ons-row style="padding: 0 0 10px 0;">
            <ons-col>
                <section style="padding: 0 10px 0 10px;">
                     <h3 class="title" style="text-align:center; color:#8962ed;">{{new.title}}</h3>
                     <img ng-src="{{getImage($index)}}"alt="{{new.title}}" target="_blank"/>
                    <br/><br/>
                    <div style="margin:auto; display:block; text-align:center;">
                        <ons-button modifier="outline" class="button-share" ng-click="sharePost($index)">
                        <ons-icon icon="share-alt"></ons-icon> Share
                        </ons-button>
                        
                        <ons-button modifier="outline" class="button-share" ng-click="bookmarkPost($index)">
                        <ons-icon icon="heart"></ons-icon> Like
                        </ons-button>
                    </div>
				<hr style="border-top: 1px solid #8962ed;">
                </section>
            </ons-col>
        </ons-row>
        </div>
    </section>
        
    </ons-page>

</ons-navigator>