<ons-navigator title="Sensation" var="appNavigator">
    
    <ons-page ng-controller="FeedsController">
        
        <ons-toolbar fixed-style>
            <div class="right">
            <ons-toolbar-button onclick="menu.toggleMenu()">
            <ons-icon icon="bars">
            </ons-toolbar-button>
            </div>
            
            <div class="center">اپلیکیشن موبایل</div>
            
            <!--
            <div class="left">
            <ons-toolbar-button onclick="appNavigator.pushPage('settings.html',{title: 'Settings', animation: 'slide'})">
            <ons-icon icon="gears">
            </ons-toolbar-button>
            </div>
            -->
        </ons-toolbar>
        
 <section style="padding: 10px; direction:rtl">
        
        <ons-row style="padding: 10px;">
        <input type="search" placeholder="جستجو" class="search-input" ng-model="search">
        </ons-row>
        
        <div ng-repeat="new in getFeeds()">
        <ons-row style="padding: 0 0 10px 0;">
            <ons-col>
                <section style="padding: 0 10px 0 10px;">
                <img ng-src="{{getImage($index)}}"alt="{{new.title}}" ng-click="showSearchDetail($index)"/>
				 <h3 class="title" style="direction:ltr;" ng-click="showSearchDetail($index)">{{new.title}}</h3>
                <!--<p ng-model="letterLimit">{{new.body | limitTo:letterLimit  }}</p>-->
				<hr>
                </section>
            </ons-col>
            <!--
			<ons-col>
                <section>
                <h3 class="title" ng-click="showSearchDetail($index)">{{new.title}}</h3>
                <p ng-model="letterLimit">{{new.body | limitTo:letterLimit  }}...</p>
                <p class="tags"><ons-icon icon="tags" fixed-width="true"></ons-icon>
                <span ng-repeat="tag in new.tags">{{tag}}{{$last ? '' : ', '}}</span>
                </p>
                </section>
            </ons-col>
			-->
        </ons-row>
        </div>
    </section>
        
    </ons-page>

</ons-navigator>