<ons-navigator title="Sensation" var="appNavigator">
    
    
    <ons-page ng-controller="HomeController">
        <!--
        <ons-toolbar fixed-style>
            <div class="right">
            <ons-toolbar-button onclick="menu.toggleMenu()">
            <ons-icon icon="bars">
            </ons-toolbar-button>
            </div>
            
            <!--<div class="center">اپلیکیشن موبایل</div>-->
            
            <!--
            <div class="left">
            <ons-toolbar-button onclick="appNavigator.pushPage('settings.html',{title: 'Settings', animation: 'slide'})">
            <ons-icon icon="gears">
            </ons-toolbar-button>
            </div>
            -->
            <!--</ons-toolbar>-->
        
            
        <div data-role="header" style="width:100%;top:0;">
            <img src="img/top.png" style="width:100%; height:auto;" />
            <!--<img src="img/mehregan.png" style="width:100%; height:auto;" />-->
        </div> 
        
        <ons-scroller>
            <section class="home-grid">
                <div class="grid-menu" style="padding-top:20%">
                    <div class="centering-and-alignment" ng-repeat="row in items | partition:3">
                      <div class="grid-menu-item list__item list__item--tappable" ng-repeat="item in row" ng-click="showDetail(($parent.$index*row.length)+$index);">
                        <ons-icon icon="{{item.icon}}" ng-show="item.icon"></ons-icon>
                        <img ng-src="{{item.image}}" ng-show="item.image" style="width:80%;height:auto;"/>

                        <div class="grid-menu-item-label">{{item.title}}</div>
                      </div>
                    </div>
                </div>

                <!--
                <ons-list class="list-top">
                    <ons-list-header>Onsen UI Framework</ons-list-header>
                    <ons-list-item modifier="chevron" ng-click="appNavigator.pushPage('parameters-master.html')">
                        <ons-row>
                            <ons-col width="15%"> 
                            <ons-icon icon="level-up" fixed-width="true"></ons-icon>
                            </ons-col>
                            <ons-col class="left">
                            Parameters
                            </ons-col>
                        </ons-row> 
                    </ons-list-item>
                </ons-list>

                <ons-list class="list-top">
                    <ons-list-header>Mobile</ons-list-header>
                    <ons-list-item modifier="chevron" ng-click="appNavigator.pushPage('plugins.html', {title: 'Plugins', animation: 'slide'})">
                        <ons-row>
                            <ons-col width="15%">
                            <ons-icon icon="mobile" fixed-width="true"></ons-icon>
                            </ons-col>
                            <ons-col class="left">
                            Mobile Plugins
                            </ons-col>
                        </ons-row> 
                    </ons-list-item>
                </ons-list>
                -->
            </section>

        </ons-scroller>
            
        <!--<div data-role="footer" style="width:100%;bottom:0;position:fixed;">-->
            <!--<img src="img/bottom.png" style="width:100%; height:auto;bottom:0;position:fixed;" />-->
        <!--</div>-->
        
    </ons-page>

</ons-navigator>