<ons-page ng-controller="AkhbarController">
    
     <ons-toolbar fixed-style>
            <div class="right">
            <ons-toolbar-button onclick="menu.toggleMenu()">
            <ons-icon icon="bars">
            </ons-toolbar-button>
            </div>
            <div class="center">تازه ترین خبرها</div>
    </ons-toolbar>

        <div data-role="header" style="width:100%;top:0;">
            <img src="img/header.jpg" style="display: block; margin: auto; margin-bottom:10px;" fixed-style/>
            <!--<img src="img/mehregan.png" style="width:100%; height:auto;" />-->
        </div> 
        

        
    <div style="direction:rtl;">
    <ons-list ng-controller="AkhbarController">
        <ons-list-item modifier="chevron" class="item" ng-repeat="item in feeds" ng-click="showDetail($index)">
            <ons-row>
                <!--
                <ons-col width="60px"> 
                <div class="item-thum"><ons-icon icon="link"></ons-icon></div>
                </ons-col>-->
                <ons-col ng-if="getImage($index)" width="60px" height="auto" style="margin-left: 10px;">
                <img ng-src="{{getImage($index)}}"></img>
                </ons-col>
                <ons-col>
                <header>
                <span class="item-title" style="line-height:2;">{{item.title}}</span>
                </header>
                   
                </ons-col>

            </ons-row>                          
        </ons-list-item>
    </ons-list>
    </div>
        
        
        

        
        
        
    <!--
    <section style="padding:0 10px ;direction:rtl;">
           <h2 class="title"style="text-align:center;">اخبار موسسه</h2><br/>
        
        <div ng-repeat="feed in feeds">
        <ons-row style="padding: 0;">
            
            <ons-col ng-if="getImage($index)" width="95px" >
                <img ng-src="{{getImage($index)}}" class="thumbnail" ng-click="showDetail($index)"></img>
            </ons-col>
            
            <ons-col>
                <p class="title" ng-bind-html="feed.title" ng-click="showDetail($index)"></p>
                <p class="title" ng-bind-html="feed.date" ng-click="showDetail($index)"></p>
                {{feed.publishedDate }}
            </ons-col>
            
        </ons-row>
        <hr/>
        </div>
    </section>
-->
    
</ons-page>
