<ons-page ng-controller="AkhbarController">
    
    
      <ons-toolbar fixed-style>
            <div class="right">
            <ons-toolbar-button onclick="menu.toggleMenu()">
            <ons-icon icon="bars">
            </ons-toolbar-button>
            </div>
            
            <!--<div class="center">اپلیکیشن موبایل</div>-->
            
            <!--
            <div class="left">
            <ons-toolbar-button onclick="appNavigator.pushPage('settings.html',{title: 'Settings', animation: 'slide'})">
            <ons-icon icon="gears">
            </ons-toolbar-button>
            </div>
            -->
        </ons-toolbar>
    
    <div data-role="header" style="width:100%;top:0;direction: rtl;">
        <img src="img/top.png" style="width:100%; height:auto;" />
        <img src="img/akhbar_.png" style="width:30%;height:auto;" />
    </div> 
    
    <section style="padding: 0 10px 10px 10px;direction:rtl;">
        <!--<h2 class="title" style="text-align:center;">اخبار</h2><br/>-->
        
        <div ng-repeat="feed in feeds">
        <ons-row style="padding: 0 0 10px 0;">
            
            <ons-col ng-if="getImage($index)" width="95px" >
                <img ng-src="{{getImage($index)}}" class="thumbnail" ng-click="showDetail($index)"></img>
            </ons-col>
            
            <ons-col>
                <h3 class="title" ng-bind-html="feed.title" ng-click="showDetail($index)"></h3>
                <p class="post-excerpt" ng-bind-html="feed.contentSnippet" ng-click="showDetail($index)"></p>
            </ons-col>
            
        </ons-row>
        </div>
    </section>
    
</ons-page>
