<ons-page ng-controller="ServicesController">

    <div data-role="header" style="width:100%;top:0;direction: rtl;">
        <img src="img/top.png" style="width:100%; height:auto;" />
        <img src="img/khadamat_.png" style="width:30%;height:auto;" />
    </div> 
    
    
    <ons-scroller>
        <section class="home-grid">
            <div class="grid-menu" style="padding-top:20%;">
                <div class="centering-and-alignment" ng-repeat="row in items | partition:2">
                  <div class="grid-menu-item list__item list__item--tappable" ng-repeat="item in row" ng-click="showDetail(($parent.$index*row.length)+$index);">
                    <ons-icon icon="{{item.icon}}" ng-show="item.icon"></ons-icon>
                    <img ng-src="{{item.image}}" ng-show="item.image" style="width:80%;height:auto;"/>

                    <div class="grid-menu-item-label">{{item.title}}</div>
                  </div>
                </div>
            </div>

            
        </section>
        
        
    </ons-scroller>

</ons-page>

